[Unit]
Description=Vega periodic update check timer

[Timer]
OnBootSec=1h
OnUnitActiveSec=24h
RandomizedDelaySec=30min
Persistent=true
Unit=vegad-update-check.service

[Install]
WantedBy=timers.target
